<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/CSS/Style.css">
</head>
<body>
    <div class="main-content"> 
    {{>header}}
    <img class="portrait" src="/img/Tree.webp">
   </div>
     {{>footer}}
</body>
</html>